body{   
   font-family: verdana, Calibri, sans-serif;
        margin: 0px;
	padding: 0px;
	background:url('itachi.gif') 0% 100% fixed;
    height:100%;
    width:100%;
   
	
}

 
main div h1{
	text-align: center;
	display: flex;
    justify-self: center;
    align-items: center;
	
	opacity: 0.8;
    width: 50%;
    height: 40%;
    border: solid 3px blueviolet;
    border-radius: 25% 10%;
    z-index: 5;
	
	animation: flicker 1.5s infinite alternate;
	
		
 
	
}

.content {
	background-color:rgba(255,255,255,.8);
	border-radius:.25em;
	box-shadow:0 0 .25em rgba(0,0,0,.25);
	box-sizing:border-box;
	left:50%;
	padding:10vmin;
	position:fixed;
	text-align:center;
	top:50%;
	transform:translate(-50%, -50%);
	}
	h1 {
	font-family: cursive;
	margin: 20%;
	justify-content: 50%;
	margin-top: 70%;
	margin: 20%;
	color: purple;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px rgb(255, 0, 238),
    0 0 151px rgb(255, 0, 144);
    opacity: 100;
    animation: flicker 1.5s infinite alternate;
    color: black;
	}
	@keyframes flicker {
    
		0%, 18%, 22%, 25%, 53%, 57%, 100% {
	  
			text-shadow:
			0 0 4px #fff,
			0 0 11px #fff,
			0 0 19px #fff,
			0 0 40px #0fa,
			0 0 80px #0fa,
			0 0 90px #0fa,
			0 0 100px #0fa,
			0 0 150px #0fa;
		
		}
	}
	20%, 24%, 55% {        
		text-shadow: none;
	}
	main > div{
		display: flex;
		justify-self: center;
		align-items: center;
		background-color: #222538;
		opacity: 0.8;
		width: 50%;
		height: 40%;
		border: solid 3px blueviolet;
		border-radius: 25% 10%;
		z-index: 5;
	}
	
	
	 
       

nav > ul{
     margin: 0px;
     padding: 0px;


}

nav li{
    list-style-type: square;


}
.content {
	background-color:rgba(255,255,255,.8);
	border-radius:.25em;
	box-shadow:0 0 .25em rgba(0,0,0,.25);
	box-sizing:border-box;
	left:50%;
	padding:10vmin;
	position:fixed;
	text-align:center;
	top:50%;
	transform:translate(-50%, -50%);
	}



nav > ul> li{

	float: left;
}

.submenu{
     display: none;


}

nav input[type=checkbox]{
         display: none;


}


;menu-mobile{
          display: none;

}
nav{

	width: 100%;
	background-color: rgb(80, 76, 76);
}

nav > ul > li{

	float: left;
	position: relative;

}

nav > ul::after{


	content: "";
	display: table;
	clear: both;
}

nav a{

   display: inline-block;
   text-decoration: none;

}

nav > ul > li > a{

	padding: 20px 30px;
	color: white;

}

nav li:hover .submenu{

display: inline-block;
position: absolute;
top: 100%;
left: 0px;
padding: 0px;
z-index: 100000;



}

.submenu li {
   border-bottom : 1px solid #CCC;



}


.submenu li a {


	padding: 15px 30px;
	font-size: 13px;
	color: #222538;
	width: 270px;
}

.menu-html:hover{

	border-top: 5px solid #29b7b7;
	background color : RGBa(9, 217, 217);
}
.menu-css:hover{
	border-top: 5px solid #0070bb;
	background-color: RGBa(000, 112, 192, 0.15);


}
.menu-js:hover{
	border-top: 5px solid #ee38b7;
	background-color: RGBa(238, 56, 183);

}


.menu-contact:hover{
	border-top: 5px solid #49ed34;
	background-color: RGBa(57, 179, 41);

}
.menu-mission:hover{
	border-top: 5px solid #0070bb;
	background-color: RGBa(14, 6, 251, 0.727);

}
.menu-sql:hover{
    border-top: 5px solid #ff0505;
    background-color:  RGBa(240, 32, 32, 0.972);
}



nav > ul >li:hover a{
	padding: 15px 30px 20px 30px;
}

.menu-html .submenu{
	background-color: RGB(9, 217, 217);
}

.menu-css.submenu{
	background-color: RGB(000 160, 240);
}
.menu-mission .submenu{
	background-color: #4245e9;
}


.menu-js .submenu{
	background-color: RGBa(238, 56, 183);
}
.menu-sql .submenu{
    background-color: #ff0505;
}

.submenu li:hover{
	color:#EEE;
	font-weight: bold;
}
.menu-html .submenu li:hover{
	background-color: RGB(9, 217, 217);
}
.menu-css .submenu li:hover{
	background-color: RGB(000, 115, 200);
}
.menu-js .submenu li:hover{
	background-color: RGBa(238, 56, 183);
}
.menu-mission.submenu li:hover{
    background-color: RGB(14, 6, 251, 0.727);
}

.menu-sql .submenu li:hover{
    background-color: RGB(251, 6, 6, 0.727);
}

.menu-mobile{

display: none;
}
nav input[type=checkbox]{
	display: none;
}
nav input[type=checkbox]: checked ~ ul{
	display: block;
}

@media screen and (max-width: 680px){
	.menu-mobile{
		display: block;
		color: #fff;
		background-color: rgba(29, 197, 151, 0.97);
		text-align: center;
		padding:12px 0;
	}
	nav ul {
		display: none;
	}
}


