body{
	background-color: black;
}

h1,h2{
color: white;
font-family
}

div{


	background-color: green;
	border: 2px solid blue;
	border-radius: 8px;
	padding: 1.5%;
	text-align: center;
	
	

}
