button

{

 width: 300px;
 border: 2px solid red;
 border-radius: 26px;
 background-color: red;
 padding: 15px 32px;
 margin-top: 3px;

}

button:hover

{

 width: 300px;
 border: 2px solid white;
 border-radius: 26px;
 background-color: red;
 padding: 15px 32px;
 margin-top: 3px;
 transform: rotate(5deg);