body
{

   background-color: black;
   text-align: center;

}
h1
{

color: blue;
font-family: verdana;
font-size: 2em;

}



div
{


border: 5px solid darkblue;
border-radius: 30px;
width:50%;
margin-left: 25%;
margin-right:35%;
padding: 6px;
}


button

{

 width: 300px;
 border: 2px solid blue;
 border-radius: 26px;
 background-color: blue;
 padding: 15px 32px;
 margin-top: 3px;

}

button:hover

{

 width: 300px;
 border: 2px solid blue;
 border-radius: 26px;
 background-color: black;
 padding: 15px 32px;
 margin-top: 3px;
 transform: rotate(5deg);

}

input
{

width: 300px;
 border: 2px solid blue;
 border-radius: 26px;
 background-color: blue;
 padding: 15px 32px;
 margin-top: 3px;
}
